
*{
    box-sizing: border-box;
    border-width: 0;
}
h1{
    text-align: center;
    position: sticky;
    top: 0;
    background-color: white;
}
.sticky-dev{
    position: sticky;
    top: 0;

}
.flex-container{
    display: flex;
    justify-content: space-between;
    margin: 5px 10%;
    height: 50%;
}