
*{
    box-sizing: border-box;
    border-width: 0;
}

.cardbody {
    margin: 15px 10%;
}

.sticky-div{
    text-align: center;
    position: sticky;
    top: 4rem;
    height: 60px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 1;
}


.dateEvent-container{
    margin-left: 10%;
    
    display: flex;
    flex-wrap: wrap;
    
    justify-content: flex-start;
}

.dateEvent-container > div {
    margin: 10px 20px;
}
